.Main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Main__split-container {
  flex: 1;
  min-height: 0;
}

.Main__left-pane {
  color: WhiteSmoke;
  height: 100%;
  overflow: scroll;
  padding: 0 0.5rem;
}

.Main__main-pane {
  height: 100%;
}

.fps-display {
  position: absolute;
  bottom: 45px;
  right: 20px;
}



.custom-context-menu {
  position: fixed;
  z-index: 10;
  background: orange;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.option {
  cursor: pointer;
  padding: 15px 30px;
}

.option:hover {
  background: yellow;
}